/**
 * Typographic styles
 *
 * This contains all basic typography rules and any @font-face imports.
 */


body {
  font-family: $font-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-text;
}


p {
	font-weight: normal;
  font-size: 1em;
  line-height: $base-line-height;
  margin: 0 0 $base-line-height;

  @include lap {
    font-size: 1.4em;
  }
}

h1 {
  @extend p;
}

h2 {
	@extend p;
	margin: 0;
}
