

.wrapper {
  width: 100%;
  padding: 0 0.25em;
  @include lap {
    padding: 0 0.5em;
  }
  margin: 0 auto;
  position: relative;
  @include clearfix;
}

@include ie8 {
  .wrapper {
    width: ems(960px);
  }  
}

.header {
	height: $header-height;
	width: 100%;
	position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  // background: rgba($color-white, 0.8);
  @include transition(all 300ms ease-in-out);
  opacity: 1;
}

@include mq($max: 500px) {
  @media screen and (orientation:landscape) {
    .header {
      height: $header-height / 2;
      @include transform(scale(0.5));
    }
   }
 }

.brand {
	width: 78px;
	height: 75px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
  // @include animation(fade-to-black 1.5s ease-in-out forwards);

}

.site-footer {
  
}

.progress {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &.is-complete {
    .progress__bar {
      @include transition-delay(2s);
      height: 0;
      opacity: 0;
    }
  }
}

.progress__bar {
  background: $color-black;
  height: 3px;
  width: 0;
  @include transition(all 100ms ease-in-out);
}