.job-view {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  @include transition(all 1s $ease-in-out-quint);
  &.is-visible {
    opacity: 1;
  }
}

.gallery {
  // margin: $header-height auto 0 auto;
  width: 100%;
  height: 100%;

  img, .img {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
  }
}

.gallery__item {
  // display: none;
  // width: 100%;
  // height: 100%;
  text-align: center;
  .img {
    // background-size: cover;
    // width: 100%;
    // height: 100%;
  }
  &.portrait {
    .gallery__img {
      height: auto;
      width: auto;
    }
  }
}

.gallery_img {
  display: inherit;
}


@include mq($max: 500px) {

  .job_page {
    @include transition(all 100ms ease-in-out);
  }

  @media screen and (orientation:landscape) {

    .job_page {
      background: #000;
      .wrapper {
        @include transition(all 300ms ease-in-out);
        padding: 0;
      }
      .header {
        @include transform(translateY(-100%) scale(0.9));
        opacity: 0;
      }
      .gallery {
        margin: 0;
        width: 100%;
        img {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
