.thumbs {
  letter-spacing: -0.31em;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 1;
  padding: 0.2em;
  @include lap {
    padding: 0.4em;
  }
  @include transition(opacity 500ms $ease-in-out-quint 300ms);
  @include perspective(1000px);
  @include perspective-origin(50% 50%);
  ul {
    height: 100%;
  }

	&.hide {
		opacity: 0;
	}

  &.is-off-screen {
    pointer-events: none;
    @include transform(translate3d(0, 0, 0));
    .thumb {  
      @include animation(fade-out 500ms $ease-in-out-quint);
    }
  }
}

.thumb {
  letter-spacing: 0;
  display: inline-block;
  vertical-align: bottom; 
  width: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  padding: 0.2em;
  @include lap {
    padding: 0.4em;
  }
  // position: absolute;
  // @include transition(all 300ms $ease-out-back);
  // @include transform(translate3d(0,1em,0) rotate3d(1,0,0,-20deg));
  // @include transform(scale(0.8));
  // @include transform-origin(50% 50%);

  &.is-loaded {
    @include animation(fade-in 500ms $ease-in-out-quint both);
    @include animation-direction(normal);
    // opacity: 1;
    // position: relative;
    // @include transform(translate3d(0,0,0));
    // @include transform(scale(1));
    // // @include transform(translate3d(0,0,0) rotate3d(1,0,0,0deg));
  }

  @for $i from 0 through 99 {
    &.img-#{$i} {
      @include animation-delay( $i*20ms );
    }
  }
}

@for $i from 1 through 5 {
  @include mq($min: $i*$screen-width) {
    .global-width {
      // max-width: $i*$thumb-width;
    }
    .thumb {
      @if $i < 5 {
        width: 100%/($i + 1);
      } @else {
        width: 100%/($i);
      }
    }
    .nav {
      left: $thumb-width*nth($nav-offsets, $i);
    }
  }
}

.thumb-img {
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  &:first-of-type {
    display: block;
  }
}

.thumb-title {
  position: absolute;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.8;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color-black, 0.9);
  color: $color-white;
  padding: 1em;
  line-height: 1em;
  font-size: 1em;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  @include transition(all 300ms $ease-in-quart);
  h2 {
    opacity: 0;
    font-size: 1.1em;
    @include transition(all 300ms $ease-in-quart 100ms);
  }
}

.thumb-link {
  width: 100%;
  // height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  &:hover {
    .thumb-title {
      opacity: 1;
      h2 {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }
}

.thumbs-page {
  height: 100%;
  width: 100%;
  float: left;
  opacity: 1;
  padding: 0;
  &:nth-of-type(1) {
    opacity: 1;
  }
}

.thumbs-inner {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);

  &.will-animate {
    @include transition(all 300ms $ease-in-out-quint);
  }
}


.thumbs-paging {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -48px;
  margin: auto;
  width: 3em;
  text-align: center;
  height: 12px;

  @include transition(-webkit-transform 300ms $ease-in-out-quint);

  &.is-off-screen {
    @include transform(translate3d(0, 10em, 0))
  }
}

.thumbs-paging-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: $color-black;
  border-radius: 100%;
  margin: 0.2em;
  cursor: pointer;
}
