<header class="header" id="header">
  <div class="global-width">
    <nav class="nav bg-check">
      <a href="/home" id="nav-grid" class="nav-item  nav-item--grid">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><g fill="#fff"><path d="M24 0h6v6h-6zM24 24h6v6h-6zM24 12h6v6h-6zM12 0h6v6h-6zM12 24h6v6h-6zM12 12h6v6h-6zM0 0h6v6h-6zM0 24h6v6h-6zM0 12h6v6h-6z"/></g></svg>
      </a>

      <a href="/info" id="nav-info" class="nav-item nav-item--info">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="36px" height="36px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
        <g>
          <rect x="15.999" y="14.999" width="4" height="12"/>
          <path d="M18,0C8.059,0,0,8.059,0,18s8.059,18,18,18c9.94,0,17.999-8.059,17.999-18S27.94,0,18,0z M18,32.999
            c-8.284,0-15-6.715-15-15S9.716,3,18,3s14.999,6.715,14.999,15S26.284,32.999,18,32.999z"/>
          <circle cx="17.999" cy="9.999" r="2"/>
        </g>
        </svg>
      </a>

    </nav>

    <a href="/" class="brand  bg-check">
      <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="78px" height="75px" viewBox="0 0 78 75" enable-background="new 0 0 78 75" xml:space="preserve">
        <polygon points="54,13 54,16 75,16 75,58 3,58 3,16 24,16 24,13 0,13 0,61 78,61 78,13 "/>
        <path d="M39,22c-8.284,0-15,6.716-15,15s6.716,15,15,15s15-6.716,15-15S47.284,22,39,22z M39,49c-6.627,0-12-5.373-12-12
          s5.373-12,12-12s12,5.373,12,12S45.627,49,39,49z"/>
        <polygon points="39,14.032 51,21.339 51,1 48,1 48,16 39,10.52 30,16 30,1 27,1 27,21.339 "/>
       </svg>
    </a>

  </div>
</header>