/* [sass, public/styles/scss, fixed.scss] */
/* Warren Orchard */
/************************************************************************************************
 *
 * Variables
 *
 ***********************************************************************************************/
/* line 24, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_legacy-ie.scss */
.chromeframe {
  background: #111111;
  color: white;
  padding: 1em 0; }

/**
 * Vendor styles and helpers
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 31, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 41, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 54, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 63, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
/* line 78, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 91, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 108, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
a:focus {
  outline: thin dotted; }
/* line 111, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Addresses font sizes and margins set differently in IE 6/7.
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 127, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 166, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 175, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 189, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 197, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 207, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Addresses margins set differently in IE 6/7.
 */
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 230, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 242, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
pre {
  white-space: pre-wrap; }

/**
 *  Set consistent quote types.
 */
/* line 250, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 278, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 287, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 294, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 298, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 354, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 365, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 377, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 389, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 402, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 421, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 437, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 449, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 466, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 479, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 491, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 506, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 519, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 528, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 538, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 551, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/normalize-scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes fade-to-white {
  /* line 2, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  0% {
    -webkit-filter: invert(0%); }

  /* line 5, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  100% {
    -webkit-filter: invert(100%); } }

@-moz-keyframes fade-to-white {}
@-o-keyframes fade-to-white {
  /* line 2, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  0% {
    -o-filter: invert(0%); }

  /* line 5, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  100% {
    -o-filter: invert(100%); } }

@keyframes fade-to-white {
  /* line 2, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  0% {
    filter: invert(0%); }

  /* line 5, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  100% {
    filter: invert(100%); } }

@-webkit-keyframes fade-to-black {
  /* line 12, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  0% {
    -webkit-filter: invert(100%); }

  /* line 15, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  100% {
    -webkit-filter: invert(0%); } }

@-moz-keyframes fade-to-black {}
@-o-keyframes fade-to-black {
  /* line 12, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  0% {
    -o-filter: invert(100%); }

  /* line 15, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  100% {
    -o-filter: invert(0%); } }

@keyframes fade-to-black {
  /* line 12, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  0% {
    filter: invert(100%); }

  /* line 15, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/helpers/_animations.scss */
  100% {
    filter: invert(0%); } }

/**
 * Base styling
 */
@font-face {
  font-family: CenturyGothicBold;
  font-weight: normal;
  font-style: normal;
  src: url("/public/webfonts/century_gothic_bold-webfont.eot");
  src: url("/public/webfonts/century_gothic_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/public/webfonts/century_gothic_bold-webfont.woff") format("woff"), url("/public/webfonts/century_gothic_bold-webfont.ttf") format("truetype"), url("/public/webfonts/century_gothic_bold-webfont.svg#CenturyGothicBold") format("svg"); }

/* line 1, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_elements.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_elements.scss */
html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: CenturyGothicBold, "Helvetica Neue", Arial, sans-serif; }

/* line 14, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_elements.scss */
body {
  background: white;
  color: #111111;
  height: 100%; }

/* line 20, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_elements.scss */
::-moz-selection {
  background: #bee1e6;
  color: #111111;
  text-shadow: none; }

/* line 26, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_elements.scss */
::selection {
  background: #bee1e6;
  color: #111111;
  text-shadow: none; }

/* line 40, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_elements.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  /* line 44, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_elements.scss */
  ul li {
    margin: 0; }

/**
 * Typographic styles
 *
 * This contains all basic typography rules and any @font-face imports.
 */
/* line 8, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_typography.scss */
body {
  font-family: CenturyGothicBold, "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.2em;
  color: #111111; }

/* line 16, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_typography.scss */
p, h1, h2 {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 0 1.2em;
  font-size: 1.4em; }

/* line 31, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/base/_typography.scss */
h2 {
  margin: 0; }

/**
 * Modules are the site content, organised into individual files.
 */
/* line 1, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
.global-wrapper {
  width: 100%;
  height: 100%; }

/* line 6, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
.global-width {
  margin: 0 auto;
  position: relative;
  *zoom: 1; }
  /* line 18, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/bourbon/addons/_clearfix.scss */
  .global-width:before, .global-width:after {
    content: " ";
    display: table; }
  /* line 23, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/vendor/bourbon/addons/_clearfix.scss */
  .global-width:after {
    clear: both; }

/* line 17, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
.lt-ie9 .wrapper {
  width: 56.47059em; }

/* line 22, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
.header {
  height: 6em;
  width: 100%;
  padding: 1em 0;
  z-index: 2;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 1; }

@media screen and (orientation: landscape) {
  /* line 36, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
  .header {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); } }
/* line 43, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
.brand {
  width: 78px;
  height: 75px;
  margin: auto; }

/* line 56, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  /* line 62, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
  .progress.is-complete .progress__bar {
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 0; }

/* line 70, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_common.scss */
.progress__bar {
  background: #111111;
  height: 2px;
  width: 0;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

/* line 2, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_nav.scss */
.nav {
  letter-spacing: -0.31em;
  width: 100%;
  height: 6em;
  position: relative;
  display: none;
  margin-left: -3.3em;
  width: 6.6em; }

/* line 14, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_nav.scss */
.nav__item {
  overflow: hidden;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: bottom;
  width: 3em;
  height: 3em;
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  margin: auto; }
  /* line 25, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_nav.scss */
  .nav__item img, .nav__item svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block; }

/* line 40, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_nav.scss */
.nav__item--grid {
  left: 2em;
  left: 0; }

/* line 51, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_nav.scss */
.nav__item--info {
  right: 2em;
  right: 0; }

/* line 1, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_info.scss */
.info_page {
  background: #111111;
  color: white; }
  /* line 5, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_info.scss */
  .info_page .brand {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%); }
  /* line 11, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_info.scss */
  .info_page .nav__item svg {
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%); }

/* line 19, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_info.scss */
.info {
  width: 100%;
  padding: 2em;
  text-align: center;
  margin: 0 auto 0; }
  /* line 27, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_info.scss */
  .info a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; }

/* line 1, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
.thumbs {
  letter-spacing: -0.31em;
  margin: 0 auto;
  width: 100%;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  /* line 7, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  .thumbs ul {
    height: 100%; }

/* line 12, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
.thumb {
  letter-spacing: 0;
  display: inline-block;
  vertical-align: bottom;
  width: 25%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  padding: 0.25em;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  /* line 27, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  .thumb.is-loaded {
    -webkit-animation: fade 500ms forwards;
    -moz-animation: fade 500ms forwards;
    animation: fade 500ms forwards; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(0) {
      -webkit-animation-delay: 0ms;
      -moz-animation-delay: 0ms;
      animation-delay: 0ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(1) {
      -webkit-animation-delay: 20ms;
      -moz-animation-delay: 20ms;
      animation-delay: 20ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(2) {
      -webkit-animation-delay: 40ms;
      -moz-animation-delay: 40ms;
      animation-delay: 40ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(3) {
      -webkit-animation-delay: 60ms;
      -moz-animation-delay: 60ms;
      animation-delay: 60ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(4) {
      -webkit-animation-delay: 80ms;
      -moz-animation-delay: 80ms;
      animation-delay: 80ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(5) {
      -webkit-animation-delay: 100ms;
      -moz-animation-delay: 100ms;
      animation-delay: 100ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(6) {
      -webkit-animation-delay: 120ms;
      -moz-animation-delay: 120ms;
      animation-delay: 120ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(7) {
      -webkit-animation-delay: 140ms;
      -moz-animation-delay: 140ms;
      animation-delay: 140ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(8) {
      -webkit-animation-delay: 160ms;
      -moz-animation-delay: 160ms;
      animation-delay: 160ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(9) {
      -webkit-animation-delay: 180ms;
      -moz-animation-delay: 180ms;
      animation-delay: 180ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(10) {
      -webkit-animation-delay: 200ms;
      -moz-animation-delay: 200ms;
      animation-delay: 200ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(11) {
      -webkit-animation-delay: 220ms;
      -moz-animation-delay: 220ms;
      animation-delay: 220ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(12) {
      -webkit-animation-delay: 240ms;
      -moz-animation-delay: 240ms;
      animation-delay: 240ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(13) {
      -webkit-animation-delay: 260ms;
      -moz-animation-delay: 260ms;
      animation-delay: 260ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(14) {
      -webkit-animation-delay: 280ms;
      -moz-animation-delay: 280ms;
      animation-delay: 280ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(15) {
      -webkit-animation-delay: 300ms;
      -moz-animation-delay: 300ms;
      animation-delay: 300ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(16) {
      -webkit-animation-delay: 320ms;
      -moz-animation-delay: 320ms;
      animation-delay: 320ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(17) {
      -webkit-animation-delay: 340ms;
      -moz-animation-delay: 340ms;
      animation-delay: 340ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(18) {
      -webkit-animation-delay: 360ms;
      -moz-animation-delay: 360ms;
      animation-delay: 360ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(19) {
      -webkit-animation-delay: 380ms;
      -moz-animation-delay: 380ms;
      animation-delay: 380ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(20) {
      -webkit-animation-delay: 400ms;
      -moz-animation-delay: 400ms;
      animation-delay: 400ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(21) {
      -webkit-animation-delay: 420ms;
      -moz-animation-delay: 420ms;
      animation-delay: 420ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(22) {
      -webkit-animation-delay: 440ms;
      -moz-animation-delay: 440ms;
      animation-delay: 440ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(23) {
      -webkit-animation-delay: 460ms;
      -moz-animation-delay: 460ms;
      animation-delay: 460ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(24) {
      -webkit-animation-delay: 480ms;
      -moz-animation-delay: 480ms;
      animation-delay: 480ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(25) {
      -webkit-animation-delay: 500ms;
      -moz-animation-delay: 500ms;
      animation-delay: 500ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(26) {
      -webkit-animation-delay: 520ms;
      -moz-animation-delay: 520ms;
      animation-delay: 520ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(27) {
      -webkit-animation-delay: 540ms;
      -moz-animation-delay: 540ms;
      animation-delay: 540ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(28) {
      -webkit-animation-delay: 560ms;
      -moz-animation-delay: 560ms;
      animation-delay: 560ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(29) {
      -webkit-animation-delay: 580ms;
      -moz-animation-delay: 580ms;
      animation-delay: 580ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(30) {
      -webkit-animation-delay: 600ms;
      -moz-animation-delay: 600ms;
      animation-delay: 600ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(31) {
      -webkit-animation-delay: 620ms;
      -moz-animation-delay: 620ms;
      animation-delay: 620ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(32) {
      -webkit-animation-delay: 640ms;
      -moz-animation-delay: 640ms;
      animation-delay: 640ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(33) {
      -webkit-animation-delay: 660ms;
      -moz-animation-delay: 660ms;
      animation-delay: 660ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(34) {
      -webkit-animation-delay: 680ms;
      -moz-animation-delay: 680ms;
      animation-delay: 680ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(35) {
      -webkit-animation-delay: 700ms;
      -moz-animation-delay: 700ms;
      animation-delay: 700ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(36) {
      -webkit-animation-delay: 720ms;
      -moz-animation-delay: 720ms;
      animation-delay: 720ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(37) {
      -webkit-animation-delay: 740ms;
      -moz-animation-delay: 740ms;
      animation-delay: 740ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(38) {
      -webkit-animation-delay: 760ms;
      -moz-animation-delay: 760ms;
      animation-delay: 760ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(39) {
      -webkit-animation-delay: 780ms;
      -moz-animation-delay: 780ms;
      animation-delay: 780ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(40) {
      -webkit-animation-delay: 800ms;
      -moz-animation-delay: 800ms;
      animation-delay: 800ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(41) {
      -webkit-animation-delay: 820ms;
      -moz-animation-delay: 820ms;
      animation-delay: 820ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(42) {
      -webkit-animation-delay: 840ms;
      -moz-animation-delay: 840ms;
      animation-delay: 840ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(43) {
      -webkit-animation-delay: 860ms;
      -moz-animation-delay: 860ms;
      animation-delay: 860ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(44) {
      -webkit-animation-delay: 880ms;
      -moz-animation-delay: 880ms;
      animation-delay: 880ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(45) {
      -webkit-animation-delay: 900ms;
      -moz-animation-delay: 900ms;
      animation-delay: 900ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(46) {
      -webkit-animation-delay: 920ms;
      -moz-animation-delay: 920ms;
      animation-delay: 920ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(47) {
      -webkit-animation-delay: 940ms;
      -moz-animation-delay: 940ms;
      animation-delay: 940ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(48) {
      -webkit-animation-delay: 960ms;
      -moz-animation-delay: 960ms;
      animation-delay: 960ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(49) {
      -webkit-animation-delay: 980ms;
      -moz-animation-delay: 980ms;
      animation-delay: 980ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(50) {
      -webkit-animation-delay: 1000ms;
      -moz-animation-delay: 1000ms;
      animation-delay: 1000ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(51) {
      -webkit-animation-delay: 1020ms;
      -moz-animation-delay: 1020ms;
      animation-delay: 1020ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(52) {
      -webkit-animation-delay: 1040ms;
      -moz-animation-delay: 1040ms;
      animation-delay: 1040ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(53) {
      -webkit-animation-delay: 1060ms;
      -moz-animation-delay: 1060ms;
      animation-delay: 1060ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(54) {
      -webkit-animation-delay: 1080ms;
      -moz-animation-delay: 1080ms;
      animation-delay: 1080ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(55) {
      -webkit-animation-delay: 1100ms;
      -moz-animation-delay: 1100ms;
      animation-delay: 1100ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(56) {
      -webkit-animation-delay: 1120ms;
      -moz-animation-delay: 1120ms;
      animation-delay: 1120ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(57) {
      -webkit-animation-delay: 1140ms;
      -moz-animation-delay: 1140ms;
      animation-delay: 1140ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(58) {
      -webkit-animation-delay: 1160ms;
      -moz-animation-delay: 1160ms;
      animation-delay: 1160ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(59) {
      -webkit-animation-delay: 1180ms;
      -moz-animation-delay: 1180ms;
      animation-delay: 1180ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(60) {
      -webkit-animation-delay: 1200ms;
      -moz-animation-delay: 1200ms;
      animation-delay: 1200ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(61) {
      -webkit-animation-delay: 1220ms;
      -moz-animation-delay: 1220ms;
      animation-delay: 1220ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(62) {
      -webkit-animation-delay: 1240ms;
      -moz-animation-delay: 1240ms;
      animation-delay: 1240ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(63) {
      -webkit-animation-delay: 1260ms;
      -moz-animation-delay: 1260ms;
      animation-delay: 1260ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(64) {
      -webkit-animation-delay: 1280ms;
      -moz-animation-delay: 1280ms;
      animation-delay: 1280ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(65) {
      -webkit-animation-delay: 1300ms;
      -moz-animation-delay: 1300ms;
      animation-delay: 1300ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(66) {
      -webkit-animation-delay: 1320ms;
      -moz-animation-delay: 1320ms;
      animation-delay: 1320ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(67) {
      -webkit-animation-delay: 1340ms;
      -moz-animation-delay: 1340ms;
      animation-delay: 1340ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(68) {
      -webkit-animation-delay: 1360ms;
      -moz-animation-delay: 1360ms;
      animation-delay: 1360ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(69) {
      -webkit-animation-delay: 1380ms;
      -moz-animation-delay: 1380ms;
      animation-delay: 1380ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(70) {
      -webkit-animation-delay: 1400ms;
      -moz-animation-delay: 1400ms;
      animation-delay: 1400ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(71) {
      -webkit-animation-delay: 1420ms;
      -moz-animation-delay: 1420ms;
      animation-delay: 1420ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(72) {
      -webkit-animation-delay: 1440ms;
      -moz-animation-delay: 1440ms;
      animation-delay: 1440ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(73) {
      -webkit-animation-delay: 1460ms;
      -moz-animation-delay: 1460ms;
      animation-delay: 1460ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(74) {
      -webkit-animation-delay: 1480ms;
      -moz-animation-delay: 1480ms;
      animation-delay: 1480ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(75) {
      -webkit-animation-delay: 1500ms;
      -moz-animation-delay: 1500ms;
      animation-delay: 1500ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(76) {
      -webkit-animation-delay: 1520ms;
      -moz-animation-delay: 1520ms;
      animation-delay: 1520ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(77) {
      -webkit-animation-delay: 1540ms;
      -moz-animation-delay: 1540ms;
      animation-delay: 1540ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(78) {
      -webkit-animation-delay: 1560ms;
      -moz-animation-delay: 1560ms;
      animation-delay: 1560ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(79) {
      -webkit-animation-delay: 1580ms;
      -moz-animation-delay: 1580ms;
      animation-delay: 1580ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(80) {
      -webkit-animation-delay: 1600ms;
      -moz-animation-delay: 1600ms;
      animation-delay: 1600ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(81) {
      -webkit-animation-delay: 1620ms;
      -moz-animation-delay: 1620ms;
      animation-delay: 1620ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(82) {
      -webkit-animation-delay: 1640ms;
      -moz-animation-delay: 1640ms;
      animation-delay: 1640ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(83) {
      -webkit-animation-delay: 1660ms;
      -moz-animation-delay: 1660ms;
      animation-delay: 1660ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(84) {
      -webkit-animation-delay: 1680ms;
      -moz-animation-delay: 1680ms;
      animation-delay: 1680ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(85) {
      -webkit-animation-delay: 1700ms;
      -moz-animation-delay: 1700ms;
      animation-delay: 1700ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(86) {
      -webkit-animation-delay: 1720ms;
      -moz-animation-delay: 1720ms;
      animation-delay: 1720ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(87) {
      -webkit-animation-delay: 1740ms;
      -moz-animation-delay: 1740ms;
      animation-delay: 1740ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(88) {
      -webkit-animation-delay: 1760ms;
      -moz-animation-delay: 1760ms;
      animation-delay: 1760ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(89) {
      -webkit-animation-delay: 1780ms;
      -moz-animation-delay: 1780ms;
      animation-delay: 1780ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(90) {
      -webkit-animation-delay: 1800ms;
      -moz-animation-delay: 1800ms;
      animation-delay: 1800ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(91) {
      -webkit-animation-delay: 1820ms;
      -moz-animation-delay: 1820ms;
      animation-delay: 1820ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(92) {
      -webkit-animation-delay: 1840ms;
      -moz-animation-delay: 1840ms;
      animation-delay: 1840ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(93) {
      -webkit-animation-delay: 1860ms;
      -moz-animation-delay: 1860ms;
      animation-delay: 1860ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(94) {
      -webkit-animation-delay: 1880ms;
      -moz-animation-delay: 1880ms;
      animation-delay: 1880ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(95) {
      -webkit-animation-delay: 1900ms;
      -moz-animation-delay: 1900ms;
      animation-delay: 1900ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(96) {
      -webkit-animation-delay: 1920ms;
      -moz-animation-delay: 1920ms;
      animation-delay: 1920ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(97) {
      -webkit-animation-delay: 1940ms;
      -moz-animation-delay: 1940ms;
      animation-delay: 1940ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(98) {
      -webkit-animation-delay: 1960ms;
      -moz-animation-delay: 1960ms;
      animation-delay: 1960ms; }
    /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb.is-loaded:nth-child(99) {
      -webkit-animation-delay: 1980ms;
      -moz-animation-delay: 1980ms;
      animation-delay: 1980ms; }

@-webkit-keyframes fade {
  /* line 43, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  0% {
    opacity: 0;
    -webkit-filter: brightness(0) contrast(5) saturate(0.5); }

  /* line 48, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  25% {
    opacity: 1; }

  /* line 51, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  100% {
    opacity: 1;
    -webkit-filter: brightness(1) contrast(1) saturate(1); } }

@-moz-keyframes fade {
  /* line 43, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  0% {
    opacity: 0;
    -webkit-filter: brightness(0) contrast(5) saturate(0.5); }

  /* line 48, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  25% {
    opacity: 1; }

  /* line 51, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  100% {
    opacity: 1;
    -webkit-filter: brightness(1) contrast(1) saturate(1); } }

@-o-keyframes fade {
  /* line 43, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  0% {
    opacity: 0;
    -webkit-filter: brightness(0) contrast(5) saturate(0.5); }

  /* line 48, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  25% {
    opacity: 1; }

  /* line 51, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  100% {
    opacity: 1;
    -webkit-filter: brightness(1) contrast(1) saturate(1); } }

@keyframes fade {
  /* line 43, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  0% {
    opacity: 0;
    -webkit-filter: brightness(0) contrast(5) saturate(0.5); }

  /* line 48, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  25% {
    opacity: 1; }

  /* line 51, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  100% {
    opacity: 1;
    -webkit-filter: brightness(1) contrast(1) saturate(1); } }

/* line 60, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
.thumb__img {
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center center; }
  /* line 67, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  .thumb__img:first-of-type {
    display: block; }

/* line 72, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
.thumb__title {
  position: absolute;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.8;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.9);
  color: white;
  padding: 1em;
  line-height: 1em;
  font-size: 1em;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22); }
  /* line 104, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  .thumb__title h2 {
    opacity: 0;
    font-size: 1.1em;
    -webkit-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 100ms;
    -moz-transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 100ms;
    transition: all 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22) 100ms; }

/* line 112, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
.thumb__link {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0); }
  /* line 123, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
  .thumb__link:hover .thumb__title {
    opacity: 1; }
    /* line 125, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
    .thumb__link:hover .thumb__title h2 {
      opacity: 1; }

/* line 133, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_thumbs.scss */
.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -48px;
  margin: auto;
  width: 40px;
  height: 12px; }

/* line 1, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
.gallery {
  margin: 6em auto 0 auto;
  width: 100%; }
  /* line 5, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
  .gallery img {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0.25em; }

/* line 16, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
.job_page {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

@media screen and (orientation: landscape) {
  /* line 22, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
  .job_page {
    background: #000; }
    /* line 24, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
    .job_page .wrapper {
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      padding: 0; }
    /* line 28, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
    .job_page .header {
      -webkit-transform: translateY(-100%) scale(0.9);
      -moz-transform: translateY(-100%) scale(0.9);
      -ms-transform: translateY(-100%) scale(0.9);
      -o-transform: translateY(-100%) scale(0.9);
      transform: translateY(-100%) scale(0.9);
      opacity: 0; }
    /* line 32, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
    .job_page .gallery {
      margin: 0;
      width: 100%; }
      /* line 35, /Users/hamishtaplin/Dropbox/Work/028_warren_orchard/www/public/styles/scss/modules/_gallery.scss */
      .job_page .gallery img {
        margin: 0;
        padding: 0; } }
