{% block content %} 

{% include "header"  %}

<div class="global-width" id="thumbs-container">
	

	<ul class="thumbs  grid  hide" id="thumbs">
		
		<li class="thumb" data-project-id="project-24">
			<a href="/projects/project-24/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-24/image-298-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-23">
			<a href="/projects/project-23/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-23/image-302-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-22">
			<a href="/projects/project-22/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-22/image-306-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-21">
			<a href="/projects/project-21/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-21/image-311-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-20">
			<a href="/projects/project-20/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-20/image-316-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-19">
			<a href="/projects/project-19/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-19/image-319-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-18">
			<a href="/projects/project-18/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-18/image-323-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-17">
			<a href="/projects/project-17/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-17/image-327-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-16">
			<a href="/projects/project-16/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-16/image-332-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-15">
			<a href="/projects/project-15/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-15/image-336-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-14">
			<a href="/projects/project-14/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-14/image-339-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-13">
			<a href="/projects/project-13/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-13/image-343-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-12">
			<a href="/projects/project-12/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-12/image-348-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-11">
			<a href="/projects/project-11/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-11/image-352-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-10">
			<a href="/projects/project-10/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-10/image-357-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-9">
			<a href="/projects/project-9/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-9/image-362-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-8">
			<a href="/projects/project-8/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-8/image-366-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-7">
			<a href="/projects/project-7/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-7/image-370-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-6">
			<a href="/projects/project-6/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-6/image-376-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-5">
			<a href="/projects/project-5/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-5/image-386-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-4">
			<a href="/projects/project-4/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-4/image-390-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-3">
			<a href="/projects/project-3/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-3/image-394-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-2">
			<a href="/projects/project-2/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-2/image-402-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
		
		<li class="thumb" data-project-id="project-1">
			<a href="/projects/project-1/0" class="thumb-link">
				<span class="thumb-title"><h2 class="">Lorem Ipsum</h2>
				</span>
				
				
					<img data-src="/public/images/content/thumbs/project-1/image-398-436x436.jpg" class="thumb-img  img" width="436" height="436">
				     
			</a>
		</li>
				
	</ul>


	
</div>
{% endblock %}

