{% block body_class %}info-page {% endblock %}
{% block content %} 
  {% include "header"  %}

  <div class="global-width">

     <section class="info">
      <h1>Warren Orchard is an editorial and reportage photographer.</h1>
      <p>You can find Warren on <a href="http://warrenorchard.tumblr.com/" target="_blank">Tumblr</a>, <a href="http://twitter.com/warrenorchard" target="_blank">Twitter</a> and <a href="http://instagram.com/warrenorchard/" target="_blank">Instagram</a>.</p>
      <p>&copy;<br>All rights reserved.<br>Warren Orchard 2014.</p>
    </section>
    
  </div>

{% endblock %}