{% block body_class %}job_page {% endblock %}
{% block content %} 
  {% include "header"  %}

<div class="wrapper">
  <ul class="gallery">
    
    {% for job in global.jobs  %}
      {% if job.id == {{request.query.id}} %}
        {% for img in job.images %}
          <li class="gallery__item">
            <img src="/public/images/content/fullsize/{{job.id}}/{{img}}.jpg" alt="" class="gallery__img">
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>    
</div>

{% endblock %}