{% block body_class %}project_page {% endblock %}
{% block content %} 
	{% include "header" %}

<div class="global-width">
	<ul class="gallery">
		{% for project in global.projects  %}
			{% if project.id == {{request.query.id}} %}
				{% for img in project.images %}
					<li class="gallery-item">
						<img src="/public/images/content/fullsize/{{project.id}}/{{img}}.jpg" alt="" class="gallery-img  img">
					</li>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</ul>
</div>

{% endblock %}