{% block content %} 

{% include "header"  %}

<div class="global-width" id="thumbs-container">
	
	<div class="gallery" id="gallery-{{ mixture.route.project }}">
    <ul class="gallery-inner" id="gallery-inner-{{ mixture.route.project }}">
    	{{ mixture.route.project }}
    </ul>
  </div>    	
	
</div>
{% endblock %}

