@include keyframes(fade-to-white) {
	0% {
		@include prefixer(filter, invert(0%), webkit mox o ms spec);
	}
	100% {
		@include prefixer(filter, invert(100%), webkit mox o ms spec);
	}
}


@include keyframes(fade-to-black) {
	0% {
		@include prefixer(filter, invert(100%), webkit mox o ms spec);
	}
	100% {
		@include prefixer(filter, invert(0%), webkit mox o ms spec);
	}
}


@include keyframes(fade) {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;    
  }
}

@include keyframes(fade-out) {
  0% {
    opacity: 1;
  } 
  99% {
    opacity: 0;    
  }
  100% {
  	display: none;
  }
}


// @include keyframes(fade) {
//   0% {
//     opacity: 0;

//     -webkit-filter:brightness(0) contrast(5) saturate(0.5); 
//   }
//   25%: {
//     opacity: 1;
//   }
//   100% {
//     opacity: 1;

//     -webkit-filter:brightness(1) contrast(1) saturate(1);
    
//   }
// }
